.padding-0
  padding-top: 0
  padding-bottom: 0

.padding-4
  padding-top: 4px
  padding-bottom: 4px

.padding-8
  padding-top: 8px
  padding-bottom: 8px

.padding-12
  padding-top: 12px
  padding-bottom: 12px

.padding-16
  padding-top: 16px
  padding-bottom: 16px

.padding-24
  padding-top: 24px
  padding-bottom: 24px

.padding-32
  padding-top: 32px
  padding-bottom: 32px

.padding-48
  padding-top: 48px
  padding-bottom: 48px

.padding-64
  padding-top: 64px
  padding-bottom: 64px

.padding-128
  padding-top: 128px
  padding-bottom: 128px

.padding
  padding: 8px 16px

.padding-tiny
  padding: 2px 4px

.padding-small
  padding: 4px 8px

.padding-medium
  padding: 8px 16px

.padding-large
  padding: 12px 24px

.padding-xlarge
  padding: 16px 32px

.padding-xxlarge
  padding: 24px 48px

.padding-jumbo
  padding: 32px 64px



