@import "../helpers/sizing"

.w-100
  width: $width-100

.w-75
  width: $width-75

.w-50
  width: $width-50

.w-25
  width: $width-25

.h-100
  width: $width-100

.h-75
  width: $width-75

.h-50
  width: $width-50

.h-25
  width: $width-25