.red, .hover-red:hover
  background-color: red
  color: white

.pink, .hover-pink:hover
  background-color: pink
  color: white

.orange, .hover-orange:hover
  background-color: orange

.yellow, .hover-yellow:hover
  background-color: yellow

.green, .hover-green:hover
  background-color: green
  color: white

.teal, .hover-teal:hover
  background-color: teal
  color: white

.cyan, .hover-cyan:hover
  background-color: cyan
  color: white

.lime, .hover-lime:hover
  background-color: lime

.blue, .hover-blue:hover
  background-color: blue
  color: white

.indigo, .hover-indigo:hover
  background-color: indigo
  color: white

.purple, .hover-purple:hover
  background-color: purple
  color: white

.khaki, .hover-khaki:hover
  background-color: khaki

.black, .hover-black:hover
  background-color: black
  color: white

.brown, .hover-brown:hover
  background-color: brown
  color: white

.gray, .hover-gray:hover
  background-color: gray

.lightgray, .hover-lightgray:hover
  background-color: lightgray

.white, .hover-white:hover
  background-color: white

.text-red, .hover-text-red:hover
  color: red

.text-pink, .hover-text-pink:hover
  color: pink

.text-orange, .hover-text-orange:hover
  color: orange

.text-yellow, .hover-text-yellow:hover
  color: yellow

.text-green, .hover-text-green:hover
  color: green

.text-teal, .hover-text-teal:hover
  color: teal

.text-cyan, .hover-text-cyan:hover
  color: cyan

.text-lime, .hover-text-lime:hover
  color: lime

.text-blue, .hover-text-blue:hover
  color: blue

.text-indigo, .hover-text-indigo:hover
  color: indigo

.text-purple, .hover-text-purple:hover
  color: purple

.text-khaki, .hover-text-khaki:hover
  color: khaki

.text-black, .hover-text-black:hover
  color: black

.text-brown, .hover-text-brown:hover
  color: brown

.text-gray, .hover-text-gray:hover
  color: gray

.text-lightgray, .hover-text-lightgray:hover
  color: lightgray

.text-white, .hover-text-white:hover
  color: white