.container
  padding: 0.01em 16px

.panel
  padding: 0.01em 16px
  margin-top: 16px
  margin-bottom: 16px

.layout-container
  display: table
  width: 100%

.layout-cell
  display: table-cell

.layout-center
  vertical-align: middle

.layout-bottom
  vertical-align: bottom