.image
  max-width: 100%
  height: auto

.opacity-min
  opacity: 0.75
  filter: alpha(opacity=75)
  -webkit-backface-visibility: hidden

.opacity
  opacity: 0.60
  filter: alpha(opacity=60)
  -webkit-backface-visibility: hidden

.opacity-max
  opacity: 0.25
  filter: alpha(opacity=25)
  -webkit-backface-visibility: hidden

.grayscale-min
  -webkit-filter: grayscale(50%)
  filter: grayscale(50%)

.grayscale
  -webkit-filter: grayscale(75%)
  filter: grayscale(75%)

.grayscale-max
  -webkit-filter: grayscale(100%)
  filter: grayscale(100%)

.sepia-min
  -webkit-filter: sepia(50%)
  filter: sepia(50%)

.sepia-min
  -webkit-filter: sepia(75%)
  filter: sepia(75%)

.sepia-max
  -webkit-filter: sepia(100%)
  filter: sepia(100%)

.hover-opacity:hover
  opacity: 0.60
  filter: alpha(opacity=60)
  -webkit-backface-visibility: hidden

.hover-grayscale:hover
  -webkit-filter: grayscale(100%)
  filter: grayscale(100%)

.hover-sepia:hover
  -webkit-filter: sepia(100%)
  filter: sepia(100%)

.hover-opacity-off:hover
  opacity: 0
  filter: alpha(opacity=0)

.hover-grayscale-off:hover
  -webkit-filter: grayscale(0%)
  filter: grayscale(0%)

.hover-sepia-off:hover
  -webkit-filter: sepia(0%)
  filter: sepia(0%)
