.menu
  margin: 0
  list-style-type: none

.menu > li
  display: table-cell
  vertical-align: middle

.menu > li > a
  display: block
  padding: 0.7rem 1rem
  line-height: 1

.menu input, .menu select, .menu a, .menu button
  margin-bottom: 0

.menu-centered
  text-align: center

.menu-centered > .menu
  display: inline-block

.menu.vertical > li
  display: block

.menu.simple li
  display: inline-block
  margin-right: 1rem
  line-height: 1

.menu.nested
  margin-left: 1rem

.menu > li > a img, .menu > li > a i, .menu > li > a svg
  margin-right: 0.25rem
  display: inline-block

.menu > li > a img, .menu > li > a i, .menu > li > a svg
  vertical-align: middle

.menu > li > a img, .menu > li > a i, .menu > li > a svg
  display: block
  margin: 0 auto 0.25rem
