
$round-size: 2px

.round-small
  border-radius: $round-size

.round
  border-radius: 2 * $round-size

.round-large
  border-radius: 4 * $round-size

.round-extra-large
  border-radius: 8 * $round-size

.circle
  border-radius: 50%

.round-top
  border-bottom-left-radius: 0
  border-bottom-right-radius: 0

.round-bottom
  border-top-left-radius: 0
  border-top-right-radius: 0

.round-left
  border-top-right-radius: 0
  border-bottom-right-radius: 0

.round-right
  border-top-left-radius: 0
  border-bottom-left-radius: 0

.round-0
  border-radius: 0