.table, .table-all
  border-collapse: collapse
  border-spacing: 0
  width: 100%
  display: table

.table td, .table th, .table-all td, .table-all th
  padding: 8px
  display: table-cell
  text-align: left
  vertical-align: top

.striped tbody tr:nth-child(even),
.table-all tbody tr:nth-child(even)
  background-color: #f1f1f1

.bordered tr,
.table-all tr
  border-bottom: 1px solid #ddd

.centered tr th, .centered tr td
  text-align: center

